#content{

}
#top{
    height: 100%;
    /*border: 1px solid black;*/
}

#top:before{
    height: 100%;
    width: 100%;
    /*background-image: url("../../images/bg.jpg");*/
    background-size: cover;
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    /*opacity: 0.3;*/
    /*filter: blur(3px);*/
}