div .search{
    padding: 30px 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    position: relative;

    border-radius: 10px;
    display: flex;
    justify-content: center;
    /*border: 1px solid black;*/
    /*overflow: hidden;*/
}

@media screen and (max-width: 500px) {
    form{
        width: 80vw;
    }
    input{
        font-size: 1rem;
        height: 2.8rem;
    }
    .bar2 button {
        height: 2.3rem;
        width: 2.3rem;
        top: 50%;
        transform: translateY(-50%);
        right: 0.8rem;
        background: rgb(55, 133, 140);
    }
    div.search {
        top: 9rem;
    }
}

@media screen and (min-width: 500px) {
    form{
        width: 30rem;
    }
    input{
        font-size: 1.2rem;
        height: 3rem;
    }
    .bar2 button {
        height: 2.3rem;
        width: 2.3rem;
        top: 50%;
        transform: translateY(-50%);
        right: 0.6rem;
        background: rgb(55, 133, 140);
    }
    div.search {
        top: 10.5rem;
    }
}

input, button {
    border: none;
    outline: none;
}

input {
    width: 100%;
    padding-left: 13px;
    display: flex;
    align-items: center;
    color: black;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: black;
}

button {
    cursor: pointer;
    position: absolute;
}

/*.bar2 {background: #DABB52;}*/
.bar2 input, .bar2 button {
    border-radius: 10px;
}
.bar2 input {
    background: white;

}

.bar2 button:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    left: 3px;
}

#indexSearchBox{
    transition:all 1s;
}

#indexSearchBox:hover{
    transform:scale(1.1);
}