div .search{
    padding: 30px 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .form{
        width: 80vw;
    }
    #indexInput{
        font-size: 1rem;
        height: 2.8rem;
    }
    div.search {
        top: 9rem;
    }
}

@media screen and (min-width: 500px) {
    .form{
        width: 30rem;
    }
    #indexInput{
        font-size: 1.2rem;
        height: 3rem;
    }
    div.search {
        top: 10.5rem;
    }
}

#indexButton {
    height: 2.3rem;
    width: 2.3rem;
    right: 0.5rem;
    background: rgb(55, 133, 140);
}

#indexInput, #indexButton {
    border: none;
    outline: none;
}

#indexInput {
    width: 100%;
    padding-left: 13px;
    display: flex;
    align-items: center;
    color: black;
}

#indexInput::-webkit-input-placeholder {
    /* WebKit browsers */
    color: black;
}

#indexButton {
    cursor: pointer;
    position: absolute;
}

#indexInput, #indexButton {
    border-radius: 10px;
}
#indexInput {
    background: white;

}

#indexButton:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
}

#indexSearchBox{
    transition:all 1s;
}

#indexSearchBox:hover{
    transform:scale(1.1);
}