div.search {
    padding: 30px 0;
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    position: relative;
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /*border: 1px solid black;*/
    /*overflow: hidden;*/
}

input, button {
    border: none;
    outline: none;
}

input {
    width: 100%;
    height: 80px;
    padding-left: 13px;
    font-size: 1.5rem;
    color: rgba(250,250,250,0.2);
}

button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
}

/*.bar2 {background: #DABB52;}*/
.bar2 input, .bar2 button {
    border-radius: 10px;
}
.bar2 input {
    background: rgba(250,250,250,0.2);
}
.bar2 button {
    height: 60px;
    width: 60px;
    top: 10px;
    right: 15px;
    background: rgb(234, 122, 153);
}
.bar2 button:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    left: 3px;
}

#indexSearchBox{
    transition:all 0.5s ease-in-out;
}

#indexSearchBox:hover{
    transform:scale(1.1);
}