.item-info-tag{
    margin-bottom: 0.5rem;
    display:flex;
    align-items: center;
}

mark{
    background-color: transparent;
    background-image: linear-gradient(#61dafb,#61dafb);
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: 0 100%;
    animation:1s highlight ease-in-out forwards;
    padding: 0;
    margin: 0;
}

@keyframes highlight {
    to {
        background-size: 100% 100%;
    }
}