#result-container{
    margin-top:.5rem;
    width: 100%;
    /*background: #f3f3f3;*/
    position: absolute;
}

#relevant-container{
    position: relative;
    top: 110vh;
}

@media screen and (min-width: 500px){
    #result-container{
        min-height: 75vh;
    }
}

#otherInfo{
    /*min-height: 30vh;*/

    margin-top: -.5rem;
    padding: .6rem 0;
}

#result-container-bg{
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);

    position: absolute;
}

.card-container p {
    margin: 0;
}

.card-container{
    border-radius: 10px;
}

.card-container > .ant-tabs-card .ant-tabs-content {
    margin-bottom: 0;
    margin-top: -16px;
    padding-bottom: 1rem;

}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background: white;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
    display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
    background: transparent;
    border-color: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
    background: #fff;
    border-color: #fff;
}
#components-tabs-demo-card-top .code-box-demo {
    padding: 24px;
    overflow: hidden;
    background: #f5f5f5;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
    height: 120px;
    margin-top: -8px;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
    background: transparent;
    border-color: transparent;
}
[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
    background: #000;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    background: #141414;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
    background: #141414;
    border-color: #141414;
}