#result-container{
    margin-top:.5rem;
    width: 100%;
    height: auto;
    /*background: #f3f3f3;*/
    position: absolute;
    overflow: hidden;
}

.relevant-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .8rem;
}

@media screen and (min-width: 800px){
    #result-container{

    }
    .card-container{
        height: 100%;
    }
}

@media screen and (max-width: 800px){
    #result-container{
        height: auto;
    }
}

#relevant-container{
    position: relative;
    padding: 1rem 2rem ;
}

#result-container-bg{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -1;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    position: absolute;
}

.relevant-card{
    width: 8rem;
    height:13rem;
    margin-right:2rem;
    margin-bottom: 1rem;
}

.relevant-image{
    width:100%;
    border-radius: 10px 10px 0 0;
    padding-bottom: 100%;
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

.card-container p {
    margin: 0;
}

.card-container{
    /*border-radius: 10px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.card-container > .ant-tabs-card .ant-tabs-content {
    margin-bottom: 0;
    margin-top: -16px;
    padding-bottom: 1rem;
    min-height: 50rem;
    height: 100%;
    overflow: auto;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding: 2rem;
    background: white;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
    display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
    background: transparent;
    border-color: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
    background: #fff;
    border-color: #fff;
}
#components-tabs-demo-card-top .code-box-demo {
    padding: 24px;
    overflow: hidden;
    background: #f5f5f5;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
    height: 120px;
    margin-top: -8px;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
    background: transparent;
    border-color: transparent;
}
[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
    background: #000;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    background: #141414;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
    background: #141414;
    border-color: #141414;
}